<template>

  <div class="container-md mt-2">
    <div>
      <h1>Guessing Game</h1>
      <p>Guess a number between 0-{{difficulty}}</p>
    </div>

    <div v-if="gameData.gameStarted">
      <p>Total guesses: {{gameData.guessCount}}</p>
      <p>{{gameData.hint || '&nbsp'}}</p>
      <InputField name="guess" label="Guess" v-model="gameData.currentGuess" @keyup.enter="guess"/>
      <button class="btn btn-primary" @click="guess">Guess!</button>
    </div>
    <div v-else>
      <InputField name="playerName" label="Enter your name" v-model="gameData.playerName" @keyup.enter="startGame"/>
      <button class="btn btn-primary" @click="startGame">Start!</button>
    </div>

    <Leaderboard :leaderboard="highscore"/>

  </div>

</template>

<script lang="ts">
import {defineComponent, onBeforeMount, reactive, ref} from "vue";
import InputField from "./InputField.vue";
import Leaderboard from "./Leaderboard.vue";
import {Score} from "../model/Score";

export default defineComponent({
  name: 'GuessingGame',
  components: {
    Leaderboard,
    InputField
  },
  setup() {
    const targetValue = ref(0);

    const highscore = ref(Array<Score>)

    const gameData = reactive( {
      playerName: '',
      guessCount: 0,
      currentGuess: null as number | null,
      gameStarted: false,
      hint: ''
    })

    const sortLeaderboard = () => {
      highscore.value.sort((a, b) => a.guessCount - b.guessCount)
    }

    const addScore = () => {
      const score = new Score();
      score.name = gameData.playerName;
      score.guessCount = gameData.guessCount;
      highscore.value.push(score);
      sortLeaderboard();
    }

    const startGame = () => {
      targetValue.value = Math.floor(Math.random() * 100);
      gameData.gameStarted = true;
      sortLeaderboard();
    }

    const reset = () => {
      gameData.gameStarted = false;
      gameData.guessCount = 0;
      gameData.playerName = '';
      gameData.hint = '';
    }

    const guess = () => {
      if (!gameData.currentGuess) {
        return;
      }

      gameData.guessCount++;
      if (gameData.currentGuess > targetValue.value){
        gameData.hint = 'Try lower!';
      } else if (gameData.currentGuess < targetValue.value) {
        gameData.hint = 'Try higher!';
      } else {
        addScore();
        reset();
      }

      gameData.currentGuess = null;
    }

    onBeforeMount(() => {
      const score1 = new Score();
      const score2 = new Score();
      score1.name = 'hz';
      score1.guessCount = 1337;
      score2.name = 'ahu';
      score2.guessCount = 123;

      highscore.value = [score1, score2];
    })

    return {
      gameData,
      highscore,
      startGame,
      guess
    }
  },
  props: {
    difficulty: {
      type: Number
    }
  }
});
</script>

<style scoped>

</style>